html, body{
	width: 100%;
	height: 100%;
	margin: 0;
    background-color: white;
}
h6, h5, h6{
	margin: 0;
}

.habilidades-habilidade-holder{
	display: flex;
	flex-direction: column;
		margin-left: 15px;
}

.habilidades-niveis-holder{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.habilidades-habilidade-name:before {
    content: " » ";
}

.small-custo{
	font-weight: normal !important;
}

.bold{
	font-weight: bolder;
}

.after1:after{
    content: " 1 ";
}

.after2:after{
    content: " 2 ";
}

.after3:after{
    content: " 3 ";
}

.label-caracteristicas, .label-habilidade{
	margin-left: 10px;
	margin-bottom: 0;
}
#holder-caracteristicas{
	display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0 2.5em;
}
.caracteristicas-holder{
    flex: 1 1 30%;
    padding-right: 2em;
}

.caracteristicas-text{
    display: block;
		margin-bottom: 15px;
}

.habilidades-descricao{
	display: block;
		margin-bottom: 5px;
}

.habilidades-nivel{
	display: block;
}

.clickable{
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}
#previous-name,#previous-portrait, #random-name{
	display: none;
}
.habilidades-categoria-name{
	text-decoration: underline;
}

.habilidades-categoria-name:before {
    content: " » ";
}

.nacionalidade-flavor-title{
	font-weight: bold;
}

.nacionalidade-aliados-title,.nacionalidade-inimigos-title{
	font-size: 1.2em;
	font-weight: bold;
}

#preview-holder{
	width: 20%;
	background-color: black;
	color: white;
	position: fixed;
	top: 5%;
	left: 2.5%;
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 0.6em;
	overflow-y: auto;
    height: 80%;
    font-size: 14px;
}

#preview-holder .h6, #preview-holder h6 {
    font-size: 1em;
}

#preview-holder .h5, #preview-holder h5 {
    font-size: 1.25em;
}

