<h1>ABEA</h1>

<form method="POST" action="/">
  <input type="text" name="nome" />
  <input type="number" name="idade" />
  <input type="text" name="nacionalidade" />
  <input type="submit" />
</form>

<ul>
  {{#each Characters}}
  <li>{{this.nome}}<br>{{this.idade}}<br>{{this.nacionalidade}}</li>
  {{/each}}
</ul>