{% extends 'base.html' %}
{% block content %}



<style type="text/css">
  html, body {
    margin: 0px !important;
    padding: 0 !important;
  }

  .hidden {
    display: none;
  }

  .menu-icon{
    color: #4b4b4b;
    font-size: 2.1rem;
    text-align: center;
  }

  .menu-icon > span{
    display: block;
    margin-top: -0.35em;
    font-size: 0.33em;
    font-weight: bold;
  }

  .arw-icon.active{
    color: #0d6efd;
  }

  .menu-icon.active{
    color: #0d6efd;
    cursor: pointer;
  }

  .arw-icon.inactive{
    color: #6c757d;
    cursor: default;
  }

  .menu-icon.inactive{
    color: #6c757d;
    cursor: default;
  }

  .menu-arw{

  }

  .dark-gray{
    color: #4b4b4b;
  }
</style>

<!-- HEADER -->
<div class="col-12 col-lg-3 text-center mx-auto">
  <div class="h3 dark-gray my-3 ">A Bandeira da Arara e do Elefante<br><small>Criador de Personagem</small></div>
  <div class="d-flex justify-content-center align-items-center">
    
    <div class="col-2 menu-icon active text-center" id="menu-icon-geral" onclick="Navigate('geral')">
      <i class="fas fa-user"></i>
      <span>geral</span>
    </div>

    <i class="fas fa-angle-right mx-1 arw-icon inactive" id="arw-icon-historia"></i>
    <div class="col-2 menu-icon inactive text-center" id="menu-icon-historia" onclick="Navigate('hist')">
      <i class="fas fa-scroll" style="font-size: 1.8rem;"></i>
      <span>histórico</span>
    </div>
    
    <i class="fas fa-angle-right mx-1 arw-icon inactive" id="arw-icon-caracteristicas"></i>
    <div class="col-2 menu-icon inactive text-center" id="menu-icon-caracteristicas" onclick="Navigate('car')">
      <i class="fas fa-diagnoses" style="font-size: 2.1rem;"></i>
      <span>aspectos</span>
    </div>
    
    <i class="fas fa-angle-right mx-1 arw-icon inactive" id="arw-icon-habilidades"></i>
    <div class="col-2 menu-icon inactive text-center" id="menu-icon-habilidades" onclick="Navigate('hab')">
      <i class="fas fa-list-ul" style="font-size: 1.8rem;"></i>
      <span>habilidades</span>
    </div>
    
    <i class="fas fa-angle-right mx-1 arw-icon inactive" id="arw-icon-bens"></i>
    <div class="col-2 menu-icon inactive text-center" id="menu-icon-bens" onclick="Navigate('bens')">
      <i class="fas fa-briefcase" style="font-size: 1.8rem;"></i>
      <span>bens</span>
    </div>
  </div>
  <div class="d-flex justify-content-center my-2">
    <button type="button" id="set-char" class="btn btn-outline-primary btn-sm px-4 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      visualizar o personagem
    </button>
  </div>
</div>

<!-- VISAO GERAO -->
<div class="col-12 col-lg-3 mx-auto pt-2 page-holder" style="user-select: none;" id="visaogeral-holder">
  <div class="h4 text-center">Visão Geral</div>
  <div class="px-2">Para criar um personagem são necessárias quatro etapas:</div>
  <div class="my-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-scroll"></i><span class="ps-2">Definir o histórico do personagem</span></li>
      <li class="list-group-item"><i class="fas fa-diagnoses"></i><span class="ps-2">Escolher suas características</span></li>
      <li class="list-group-item"><i class="fas fa-list-ul"></i><span class="ps-2">Escolher suas habilidades</span></li>
      <li class="list-group-item"><i class="fas fa-briefcase"></i><span class="ps-2">Definir seus bens inciais</span></li>
    </ul>
  </div>
  <div class="d-flex justify-content-end"><button type="button" onclick="Navigate('hist')" class="btn btn-outline-primary btn-sm px-4">Avançar</button></div>
  <div class="px-2 mt-5"><small>*para criar personagens míticos <em><small>(curupira, caipora e etc.)</small></em> a gente tem que conversar antes.</small></div>
</div>

<!-- HISTORICO HOLDER -->
<div class="col-12 col-lg-3 mx-auto pt-2 page-holder" style="user-select: none; display: none;" id="historia-holder">
  <div class="h4 text-center">História</div>

  <div class="px-2">
    As informações a seguir servem para te ajudar a pensar na história do seu personagem, e a com excessõa da Idade, nenhuma delas afeta as habilidades dele.
    <br>
    <small>
      <br>Onde ele nasceu? Em quais outros lugares ele morou?
      <br>Como eram seus pais ou as pessoas que o criaram?
      <br>O que ele fez antes desta aventura? Exerceu algum outro ofício?
      <br>Quais são as suas motivações?
    </small>
    <br><br>
    e estiver com dificuldade de pensar em alguma, você pode avançar para as próximas etapas, ver as características e habilidades disponíveis, e voltar aqui.
  </div>

  <div class="accordion accordion-flush my-3" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button id="hist-etnia" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          etnia: --
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <select class="form-select" aria-label="Default select example" id="etnia-select">
            <option selected>Selecione uma opção..</option>
            <option v-for="(etnia, index) in et.etnias" :value="index"><!-- ETNIA TITLE --></option>
          </select>
        </div>
      </div>
      <div class="px-5 py-2" style="display: none;" id="et-flavor-holder">
        <small id="et-flavor">
        </small>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" id="hist-nac" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          nacionalidade: --
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div v-for="(nacs, index) in nac" :id="'nacs-'+index">
            <div class="h5 my-2"><small><!-- NACIONALIDADE TITLE --></small></div>
            <div class="form-check" v-for="(povo, index) in nacs.nacionalidades" :id="'povo-'+index">
              <input class="form-check-input" type="radio" name="povo-radio" :id="'radio-povo-'+index" :value="povo.nome" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo">
              <label class="form-check-label" :for="'radio-povo-'+index">
                <span class="flag-icon flag-icon-squared me-2" :class=" 'flag-icon-'+povo.flag  "></span><!-- POVO NAME -->
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="px-5 py-2" style="display: none; border-bottom-color: rgba(0, 0, 0, 0.125); border-bottom-style: solid; border-bottom-width: 1px;" id="nasc-flavor-holder">
      <div class="text-center"><span class="flag-icon flag-icon-squared" id="nasc-flag"></span></div>
      <small id="nacs-flavor">
      </small>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" id="hist-idade" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          idade: <!-- CHARACTER IDADE -->
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><input id="idade-slider" type="range" class="form-range" min="18" max="60" step="1"  v-model="character.idade"></div>

        <div class="text-warning bg-dark p-1" id="idade-warning" v-if="character.idade > 22" style="border-radius: 0.35rem; font-size: 0.7rem;">
          <i class="fas fa-exclamation-circle"></i><small> - Para idades maiores do que 22, precisamos combinar antes, pois a idade afeta as habilidades do personagem.</small>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" id="hist-nome" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          nome: <i class="ms-2 fas fa-lock"></i>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="input-group">
            <input type="text" class="form-control" id="nome">
            <input type="text" class="form-control" id="sobre">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="SetName()"><i class="fas fa-dice"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" id="hist-hist" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          histórico:
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" v-model="character.historico"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button type="button" onclick="Navigate('geral')" class="btn btn-outline-primary btn-sm px-4">Voltar</button>
    <button type="button" onclick="Navigate('car')" class="btn btn-outline-primary btn-sm px-4">Avançar</button>
  </div>
</div>


<!-- CARACTERISTICAS HOLDER -->
<div class="col-12 col-lg-3 mx-auto pt-2 page-holder" style="user-select: none; display: none;" id="car-holder">
  <div class="h4 text-center">Características</div>
  <div class="px-2"> Escolha três para o seu personagem. Entre as características escolhidas, optar ao menos por uma que possa ser considerada um defeito tornará o personagem ainda mais interessante:</div>
  <div class="d-flex py-3" style="flex-wrap: wrap;"> 
    <div class="form-check col-12 my-1 car-holder" v-for="(cars, index) in car">
      <input class="form-check-input chckbx" name="car-ckbx" type="checkbox" :id="'cars-'+index" @click="()=>{SelectCaracteristicas(index)}">
      <label class="form-check-label" :for="'cars-'+index">
        <strong><!-- NOME DA CARACTERISTICA --></strong><small> <!-- FLAVOR DA CARACTERISTICA --></small>
      </label>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button type="button" onclick="Navigate('hist')" class="btn btn-outline-primary btn-sm px-4">Voltar</button>
    <button type="button" onclick="Navigate('hab')" class="btn btn-outline-primary btn-sm px-4">Avançar</button>
  </div>
</div>


<!-- HABILIDADES HOLDER -->
<div class="col-12 col-lg-3 mx-auto pt-2 page-holder" style="user-select: none; display: none;" id="hab-holder">
  <div class="h4 text-center">Habilidades</div>
  <div class="px-2"><span id="hab-info">
    Baseado na idade do seu personagem, você tem 20 <em>pontos de habilidade</em> para ensinar ao seu personagem. Cada habilidade tem 3 niveis de maestria, que dão bônus diferentes às suas rolagens nos testes.
    <br><br>
    Existem dezenas de habilidades divididas por categorias, tente misturar habilidades de áreas diferentes, e não se preocupe em pegar apenas as habilidades 'úteis' ou funcionais, é interessante incluir habilidades de artes, artesenatos e estudos acadêmicos para enriquecer o mundo e a história do seu personagem.</span>
    <div class="d-flex justify-content-between mt-4">
      <span class="text-center"><strong>Nível 1</strong><br><small>Aprendiz +3*<br>custo: 1<em>ph</em></small></span>
      <span class="text-center"><strong>Nível 2</strong><br><small>Praticante +6*<br>custo: 3<em>ph</em></small></span>
      <span class="text-center"><strong>Nível 3</strong><br><small>Mestre +9*<br>custo: 7<em>ph</em></small></span>
    </div>
    <div class="mb-4 text-end"><small>*bônus na rolagem</small></div>
    Seu personagem já começa com uma habilidade, o seu <strong>idioma nato</strong>, e o recomendado é que você escolha mais <strong>6 habilidades</strong> de Nível 1, <strong>2 habilidades</strong> de Nível 2 e <strong>1 habilidade</strong> de Nível 3.
    <br><br><small>
    .Usuários de <em>Graças Divinas, Poderes de Fôlego e Poderes de Ifá</em> <strong>não</strong> podem ter habilidades em <em>Armas</em> e precisam ter pelo menos <em>Nível 1</em> nas habilidades base dos seus poderes mágicos, <em>Fé, Fôlego e Ifá</em> respectivamente.<br><br>
    .Algumas habilidades aumentam a resistência (vida) do seu personagem quando melhoradas até o <em>Nível 3</em>, são elas: Acrobacia, Força-Física, Natação, Escalada, Boxe, Capoiera, Luta-livre</small>
  </div>

  <div class="text-center my-4">
    <button id="dist-toggle" type="button" class="btn btn-outline-primary btn-sm px-4 mb-2" disabled="disabled">Distribuir Pontos</button>

    <div class="text-warning bg-dark p-1" id="dist-warning" style="border-radius: 0.35rem; font-size: 0.67rem;">
      <i class="fas fa-exclamation-circle"></i><small> - selecione as suas habilidades para depois distribuir os pontos em cada uma.</small>
    </div>

  </div>

  <!-- DISTRIBUICAO DE PONTOS -->
  <div class="d-none flex-wrap" id="dist-holder">
    <div class="d-none flex-wrap justify-content-between align-items-center col-12 mb-2 pb-1" v-for="(habs, index) in hab" :id="'hab-points-'+index" style="border-bottom: 1px solid lightgray;">
      <div class="col-12 text-center"><strong><!-- NOME DA HABILIDADE --></strong></div>
      <div class="form-check">
        <input class="form-check-input" type="radio" :name="'hab-points-'+index" :id="'hab-points-'+index+'-nivel-1'">
        <label class="form-check-label" :for="'hab-points-'+index+'-nivel-1'">
          Nível 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" :name="'hab-points-'+index" :id="'hab-points-'+index+'-nivel-2'">
        <label class="form-check-label" :for="'hab-points-'+index+'-nivel-2'">
          Nível 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" :name="'hab-points-'+index" :id="'hab-points-'+index+'-nivel-3'">
        <label class="form-check-label" :for="'hab-points-'+index+'-nivel-3'">
          Nível 3
        </label>
      </div>
    </div>
  </div>

<!-- SELECAO DE HABILIDADES -->
  <div class="accordion accordion-flush my-3" id="accordion_flush2">
    <div class="accordion-item"  v-for="(cats, cats_index) in cat">
      <h2 class="accordion-header" id="accordion_flush2_headingOne">
        <button id="'cats-'+cats.title" class="accordion-button collapsed mb-1" type="button" data-bs-toggle="collapse" data-bs-target="'#flush-collapse-'+cats_index" aria-expanded="false" aria-controls="flush-collapseOne">
          <span><i class="cats.icon"></i></span>
          <!-- TITLE CATEGORIA -->
        </button>
        <div class="ps-5 h6 mt-1" style="display: none;" v-for="(hbs_prv, hbs_prv_index) in cats.habs" id="'preview-'+cats_index+'-'+hbs_prv_index">
          <i class="fas fa-check"></i><span class="ms-2"><!-- NOME DA HABILIDADE PARA PREVIEW --></span>
        </div>
      </h2>
      <div id="'flush-collapse-'+cats_index" class="accordion-collapse collapse" data-bs-parent="#accordion_flush2">
        <div class="accordion-body">

          <div class="form-check mb-2" v-for="(hbs, hbs_index) in cats.habs">
            <input class="form-check-input" type="checkbox" value="" id="'input-'+cats_index+'-'+hbs_index" click="SelectHab('nvl-'+cats_index+'-'+hbs_index, 'preview-'+cats_index+'-'+hbs_index, hbs.id)">
            <label class="form-check-label" for="'input-'+cats_index+'-'+hbs_index">
              <!-- NOME DA HABILIDADE -->
            </label>
            <div id="'nvl-'+cats_index+'-'+hbs_index" style="display: none;">
              <div v-for="(nvl, nvl_index) in hbs.niveis" style="border-bottom: 1px solid lightgray;">
                <small>
                  <!-- NIVEL -->
                </small>
              </div>
              <div v-for="(desc) in hbs.desc" style="border-bottom: 1px solid lightgray;">
                <small>
                  <!-- DESCRICAO -->
                </small>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button type="button" onclick="Navigate('car')" class="btn btn-outline-primary btn-sm px-4">Voltar</button>
    <button type="button" onclick="Navigate('bens')" class="btn btn-outline-primary btn-sm px-4">Avançar</button>
  </div>
</div>

<!-- BENS -->
<div class="col-12 col-lg-3 mx-auto pt-2 page-holder" style="user-select: none; display: none;" id="bens-holder">
  <div class="h4 text-center">Bens Iniciais</div>
  <div class="px-2">Todos os os personagens começam com alguns bens básicos:</div>
  <div class="my-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>1.000 réis</span></li>
      <li class="list-group-item"><span>Roupas simples</span></li>
      <li class="list-group-item"><span>Mochila ou Bolsa</span></li>
      <li class="list-group-item"><span>Saco de dormir ou Rede</span></li>
      <li class="list-group-item"><span>Usuários de poderes possuem um artigo de sua crença:<br><small>Fé - Crucifixo<br> Fôlego - Cachimbo e a Maracá<br> Ifá - Ikins e o Iroke Ifá</span></small></li>
      <li class="list-group-item"><span>Instrumentos/Ferramentas relativos a habilidades de pelo menos Nível 2<small><br>ex: alguém com <em>Nível 2</em> em <em>Poesia</em> pode começar com <em>Papel e Bico de Pena</em></small></span></li>
    </ul>
  </div>
  <div class="d-flex justify-content-start"><button type="button" onclick="Navigate('hab')" class="btn btn-outline-primary btn-sm px-4">Voltar</button></div>
</div>

<script type="text/javascript">
  const d = new Date();
  $.ajax({
      url: '/create_char',
      type:'POST',
      contentType: "application/x-www-form-urlencoded;charset=utf-8",
      data:
      {
        name: "teste: "+d.getSeconds()
      },
      success: function(msg)
      {   
        console.log(msg)
      }               
  });

  function Navigate(i){
    switch(i){
      case 'geral':
        $(".arw-icon").addClass("inactive").removeClass("active");
        $(".menu-icon").addClass("inactive").removeClass("active");

        $("#menu-icon-geral").removeClass("inactive").addClass("active");

        $(".page-holder").hide();
        $("#visaogeral-holder").show();
        break;
      case 'hist':
        $(".arw-icon").addClass("inactive").removeClass("active");
        $(".menu-icon").addClass("inactive").removeClass("active");

        $("#menu-icon-geral").removeClass("inactive").addClass("active");

        $("#arw-icon-historia").removeClass("inactive").addClass("active");
        $("#menu-icon-historia").removeClass("inactive").addClass("active");

        $(".page-holder").hide();
        $("#historia-holder").show();
        break;
      case 'car':
        $(".arw-icon").addClass("inactive").removeClass("active");
        $(".menu-icon").addClass("inactive").removeClass("active");

        $("#menu-icon-geral").removeClass("inactive").addClass("active");

        $("#arw-icon-historia").removeClass("inactive").addClass("active");
        $("#menu-icon-historia").removeClass("inactive").addClass("active");

        $("#arw-icon-caracteristicas").removeClass("inactive").addClass("active");
        $("#menu-icon-caracteristicas").removeClass("inactive").addClass("active");

        $(".page-holder").hide();
        $("#car-holder").show();
        break;
      case 'hab':
        $(".arw-icon").addClass("inactive").removeClass("active");
        $(".menu-icon").addClass("inactive").removeClass("active");

        $("#menu-icon-geral").removeClass("inactive").addClass("active");

        $("#arw-icon-historia").removeClass("inactive").addClass("active");
        $("#menu-icon-historia").removeClass("inactive").addClass("active");

        $("#arw-icon-caracteristicas").removeClass("inactive").addClass("active");
        $("#menu-icon-caracteristicas").removeClass("inactive").addClass("active");
        
        $("#arw-icon-habilidades").removeClass("inactive").addClass("active");
        $("#menu-icon-habilidades").removeClass("inactive").addClass("active");

        $(".page-holder").hide();
        $("#hab-holder").show();
        break;
      case 'bens':
        $(".arw-icon").addClass("active").removeClass("inactive");
        $(".menu-icon").addClass("active").removeClass("inactive");
        
        $(".page-holder").hide();
        $("#bens-holder").show();
        break;
    }
  }
</script>
{% endblock %}
   